  .colored-header {
    background-image: url('../styles/images/colored_header.png');
    height: 300px;
    width: 100%;
    background-size: cover;

    &__title {
      color: white;
      font-size: 5rem;
      font-family: Ember, Arial, Helvetica, sans-serif;
    }

    &__register {
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      transform: perspective(1px) translateZ(0);
      margin-right: 3rem;
      pointer-events: auto;
      font-size: 2.2rem;
      letter-spacing: .5px;
      padding: 0 1%;
      border: 2px solid #fff;
      color: white;
      margin-top: 5px;
      height: 4rem;
      float: right;
    }
  }