.knote {
    * {
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
    }

    img {
        width: 100%;
    }

    h1 {
        font-size: 3rem;
    }

}