.carousel {
    padding-top: 3rem;

    .k-step {
        h2 {
            font-family: 'Open Sans', sans-serif;
            text-align: left;
            margin: 2rem;
            font-size: 2rem;
            color: white;
        }

        p {
            font-family: 'Open Sans', sans-serif;
            text-align: left;
            margin: 2rem;
            font-size: 1.8rem;
            color: white;

        }

    }
}